input[type="checkbox"] {
	position: absolute;
    	clip: rect(0,0,0,0);
}

input[type="checkbox"] + label {
	background: white;
	color: white;
	display: block;
	margin-bottom: 0;
}

  
input[type="checkbox"]:checked + label {
	background: black;
	color: black;
	display: block;
	margin-bottom: 0;
}

td {
	border-top: solid 2px #0b0d0e;
	border-right: solid 2px #4d5e6f;
	border-bottom: solid 2px #4d5e6f;
	border-left: solid 2px #0b0d0e;
	padding: 0;
} 

th {
	text-align: center;
	border: none;
}

label {
	cursor: pointer;
}

h1 {
	text-align: center;
}
